---
layout: default
title: Blog Archive
banner: 
    heading: Exploring Sumbawa
    description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem esse eveniet hic incidunt minima officiis aspernatur debitis, odit tenetur repudiandae! Mollitia quasi maxime repellat cum veritatis, laudantium modi sit facere!
    image: 
      image_path: /uploads/travel/travel-2.jpg
    button:
      text: Read more
      url: "/posts/2023/exploring-sumbawa"
---

{% include hero-banner.html %}

<section class="p-5p archive" x-data="{ search: '', posts: [...document.querySelectorAll('.post')] }" x-on:input="filterPosts">
    <div class="max-w-screen-lg mx-auto p-2 center mb-8 text-center">
        <h2 class="font-serif text-4xl mb-2"> Explore the blog </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quaerat necessitatibus? Praesentium fugit ex neque magni, possimus, iste itaque voluptatem id doloremque voluptas consequatur dolor cumque! Dolores possimus laboriosam adipisci.</p>
   
        <div class="filter relative my-4 inline-block"> 
            <input type="text" x-model="search" placeholder="Search..." class="p-4">
        </div>
    </div>

    <div class="max-w-screen-lg mx-auto">

        {% for post in site.posts limit:100 %}

        <div class="post" x-show="search === '' || $el.querySelector('h2').textContent.toLowerCase().includes(search.toLowerCase())">
            {% include post-loop-list-item.html %}
        </div>

        {% endfor %}
    </div>
</section>

