---
layout: default
title: Members Area
banner: 
    heading: Welcome Members
    description: Welcome to our private members' area
    image: 
      image_path: /uploads/travel/travel-2.jpg
members-content: 
    - title: This is a title
      content_html: some content 
    - title: This is a second title 
      content_html: some content 
    - title: This is a third title 
      content_html: some content
---

{% include hero-banner.html %}

<section class="min-h-80 p-5p grid grid-cols-4">

    <div class="col-span-1">

            {% for item in page.members-content %}
            <a href="#{{item.title | slugify }}" class="block"> {{item.title}}</a>
            {% endfor %}

    </div> 

    <div class="col-span-3">

        {% for item in page.members-content %}
        <div id="{{item.title | slugify}}" class="p-5p border-b-2"> 
            {{ item.content_html }}
        </div>

        {% endfor %}

    </div> 
    
</section>



