---
layout: default
title: Shop
description: Surfing teaches you to appreciate the finer things in life, to be present, live in the moment and just breathe.
author: Tina May
featured-image: /uploads/blog-bg-17-shop.jpg
featured: true
intro_heading: This is a heading
banner:
    image: 
        image_path: /uploads/travel/blog-bg-17-shop.jpg
        alt: A placeholder alt description
---
{% include hero-banner-full-width.html %}
<section class="p-8 max-w-screen-xl mx-auto">

	<h2 class="text-2xl uppercase font-display tracking-widest pb-5"> Explore our products </h2> 
	
	<div class="grid grid-cols-3 gap-4">
	
		{% for product in site.products-presets %}
		
		<a href="{{product.url}}"> 
			<img src="{{product.featured-image}}">
			<h4> {{product.title}}</h4>
			<p> {{product.price}}</p>
		</a>
	
	{% endfor %}
	
	</div>
	
</section>