<!DOCTYPE html>
<html lang="en">

<head>

    {% include head.html %}
    
</head>

<body class="bg-sand">

    {% include inline-styles.html %}
    
    {% include site-header.html %}

    {{content}}

    {% include site-footer.html %}

    <!-- membership -->

    <script> var MemberSpace = window.MemberSpace || {"subdomain":"hardworking-socks"}; (function(d){ var s = d.createElement("script"); s.src = "https://cdn.memberspace.com/scripts/widgets.js"; var e = d.getElementsByTagName("script")[0]; e.parentNode.insertBefore(s,e); }(document)); </script>

    <!-- Javascript  -->
    <script src="/main.js"></script>


    



</body>

</html>