---
layout: default
---

<!-- Header -->

<section class="grid grid-cols-2">
    <div class="col-span-1">
        <h1 class="text-5xl uppercase font-display tracking-widest">{{page.title}}</h1>
        <h2>{{page.subtitle}}</h2>
        <p>{{page.description}}</p>
        <a class="mt-4 mb-4 shopify-button" href="#"> Buy Now </a>
    </div>
    <div style="background-image: url('{{page.featured-image}}');" class="col-span-1">

    </div>
</section>

<!-- whats inside gallery -->

<section>
    <h2> What's Inside </h2>
    <div>
        {% include whats-inside.html %}
    </div>
</section>

<!-- third section: table of contents & what's included -->

<section class="p-5p grid grid-cols-3 gap-16">
    <div class="col-span-2">
        <h2 class="text-4xl uppercase font-display tracking-widest"> TABLE OF CONTENTS </h2>
        {% include accordion.html  accordion-source=site.data.guide-settings.table-of-contents %}
    </div>
    <div>
    <h2 class="text-4xl uppercase font-display tracking-widest"> WHAT'S INCLUDED </h2>
        <p> loremEsse proident exercitation nisi tempor fugiat amet ex. Elit do mollit nostrud eiusmod. Minim occaecat nostrud labore amet et velit incididunt ad ullamco anim magna minim. Nisi aliqua cillum quis elit ad ad sit ipsum officia cillum nulla. </p>
    </div>
</section>
