---
layout: default
---

<!-- Header -->

<section class="grid grid-cols-2">
    <div class="col-span-1">
        <h1 class="text-5xl uppercase font-display tracking-widest">{{page.title}}</h1>
        <h2>{{page.subtitle}}</h2>
        <p>{{page.description}}</p>
        <a class="mt-4 mb-4 shopify-button" href="#"> Buy Now </a>
    </div>
    <div class="col-span-1 bg-[url('{{page.featured-image}}')]">

    </div>
</section>

<!-- Before & After -->

<section class="bg-stone-100 p-5p">
    <div class="grid grid-cols-5 max-w-screen-xl mx-auto">
        <div class="col-span-3 p-8">

            {% include before-and-after-slider.html %}

        </div>
        <div class="col-span-2 p-8 self-center">
            <h2 class="text-2xl uppercase font-display tracking-widest"> Before & After </h2>
            {{page.before_after_description}}
        </div>

    </div>
</section>


<!-- How to -->
<section class="grid grid-cols-3">
    <div class="col-span-1">
    <h2 class="text-2xl uppercase font-display tracking-widest">{{site.data.preset-settings.instructions.heading}}</h2>
    <p>{{site.data.preset-settings.instructions.description_html}}</p>
    </div>
    <div class="col-span-2" style="background-image: url('{{page.featured-image}}');">
    {% include video.html vimeo-id=site.data.preset-settings.presets-instructions-vimeo-id %}
    </div>
</section>

<!-- FAQ -->
<section class="p-10p">
	<h2 class="text-4xl uppercase border-b border-dark pb-8">FAQ's</h2>
	<ul>
		{% for item in site.data.preset-settings.faq %}
        <li x-data="{ open: false }">

			<button @click="open = ! open" class="flex justify-between border-b border-dark my-8">
				<h3 class="font-sans text-xl font-normal">{{item.question}}</h3>
                <span>
                    <

                </span>
            </button>
                <p x-show="open" @click.outside="open = false">{{item.answer}}</p>
		
    </li>
		{% endfor %}
	</ul>
</section>


<!-- FAQ
<section class="p-10p">
	<h2 class="text-4xl uppercase border-b border-dark pb-8">FAQ's</h2>
	<ul>
		{% for item in site.data.preset-settings.faq %}
         
		<li class="flex justify-between border-b border-dark my-8">
			<div>
				<h3 class="font-sans text-xl font-normal">{{item.question}}</h3>
				<p class="hidden">{{item.answer}}</p>
			</div>
			<span>></span>
		</li>
		{% endfor %}
	</ul>
</section> -->


<!-- Related Posts -->

<!-- <div x-data="{ open: false }">
    <button @click="open = ! open">Toggle</button>
<div x-show="open" @click.outside="open = false">Contents...</div>
        </div> -->


<!-- 
    section: intro product

    grid with an image on the left, and text on the right 

     one data file for presets

    title
    description
    price
    image
    video => content will be in data file, taking up 2 columns / grid-cols-3, heading&contents can be in data file
    data file with our preset
    site-settings

    for item in site.data.site-settings.navigation like this

    buy button from shopify

    faqs h2
    each question h3? 
    answers are set to be hidden 

    preset or include? 
    *required: for loop array to pull from data file 
    -iterate through every faq and output heading, contents 

    related products 
    for loop to output multiple items in our collection 
    even each preset (item)
    items in anchor link 
    where we get the info ?
    -under product preset
    -desert.grow.md (in the front matter of each preset)


 -->